body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    margin: 0;
    height: 300px;
    padding: 0;
    background-image: url(escudo.jpg);   
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.padre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    border:solid 3px;
    justify-content: center;
    align-items: center;
    height: 50px;
    color:black;
    background-color: rgb(230, 159, 159);
}
.btn1, .btn3 {
    background-color: #8f3737;
    color: #fff;
  }
  
  .btn2 {
    background-color: #da6161;
    color: #fff;
  }
  
  .btn1, .btn2, .btn3 {font-family: sans-serif;}
  .btn1 {flex: 1;}
  .btn2 {flex: 4;}
  .btn3 {flex: 5;}
  aside{
float:right;
  }
a:active {
color:#da6161   

}